# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs & caches
logs/
*.log
*.sqlite
.cache/
.eslintcache

# Runtime data
pids/
*.pid
*.pid.lock

# Test coverage
coverage/
.nyc_output/

# Builds & temp
dist/
build/
.tmp/
temp/

# TypeScript (if you add TS later)
*.tsbuildinfo

# Env files (keep example)
.env
.env.*
!.env.example

# Editors/OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Docker/local data
docker-data/
dump/
